<nav class="navbar navbar-expand-md bg-body-light sticky-top">
  <div class="container-fluid">
    <!-- Navbar icon -->
    <a class="navbar-brand z-2" href="/EcoQuest"
      ><img
        src="/images/ECO-logo.png"
        alt="EcoQuest-Logo"
        class="navbar-brand-img"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation links -->
    <div class="collapse navbar-collapse navbar-main" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link main-link" href="/EcoQuest/logsForm">Log data</a>
        <a class="nav-link main-link" href="/EcoQuest/awarness">Awareness</a>
        <a class="nav-link main-link" href="/EcoQuest/leaderboard">Leaderboard</a>
        <a class="nav-link main-link" href="/EcoQuest/Recycle">Recycle center</a>
      </div>
      <div class="navbar-nav ms-auto">
        <!-- If user not Exist -->
        <% if(!currentUser) { %>
        <a class="nav-link signup" href="/EcoQuest/signup"
          ><b>SIGN UP &nbsp;<i class="fa-solid fa-arrow-left2"></i></b
        ></a>
        <% } %>
        <!-- If user not Exist -->
        <% if(!currentUser) { %>
        <a class="nav-link login-btn" href="/EcoQuest/login"
          ><b>LOG IN &nbsp;<i class="fa-solid fa-arrow-right"></i></b
        ></a>
        <% } %>
        <!-- If user Exist -->
        <% if(currentUser) { %>
        <a class="nav-link signup" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
